body {
  font-family: sans-serif;
}
.appContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  align-items: center;
}

.headingContainer {
  height: 100px;
  width: 100%;
  background-color: #a9cf23;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.heading {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.inputField {
  margin-bottom: 20px;
}

.weatherCardContainer {
  display: flex;
  margin: 50px;
}

.loaderContainer {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
